.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-list{
    display: flex;
    flex-direction: column;
    margin: 90px;
    gap: 25px;
    flex: 2;
}

.cart-item{
    display: flex;
    background-color: #222222;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 6px;
    
}

.img-cart{
    width: 100px;
    height: 100px;
    
}

.checkout{
    flex: 1;
    background-color: #222222;
    margin: 90px;
    border-radius: 6px;
}

.title{
    font-size: 1rem;
    
    text-align: center;
    
}

.price{
    font-size: 1rem;
    
    text-align: center;
}

input{
    max-width: 50px;
    
}

.namebox{
    overflow-wrap: break-word;
    width: 250px;
}


@media (max-width: 1335px) {
    .cart-item{
        flex-direction: column;
        gap: 30px;
    }
    
}